@font-face {
	font-family: 'Georgia';
	src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),  url('fonts/Georgia.woff') format('woff'), url('fonts/Georgia.ttf')  format('fonts/truetype'), url('fonts/Georgia.svg#Georgia') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'Georgia';	
	font-size:12px;
}
a{
	text-decoration:none;
}

.top_area{
	padding:13px 0px;
}
.top_area span{
	color:696969;
}
.search_from{
	width:210px;
	float:right;
}
.search_from input{
	height:23px;
	border-radius:13px;
	border:none;
	width:210px;
	background:#e1e1e1;
	position:relative;
}
.search_from button{
	position:absolute;
	width:20px;
	height:20px;
	background:#000;
	border:none;
	border-radius:50%;
	text-align:center;
	right:6px;
	top:2px;
	line-height:20px;
	color:#d2d2d2;
	padding:0px;
	margin-right:13px;
	
}
a{
	color:#7c9c37;
	text-decoration:none;
}
.top_area span{
	margin-right:55px;
}
.header_area{
	background:#222;
	padding-top:25px;
	padding-bottom:23px;
	border-bottom:2px solid #7c9c37;
}
.menu a{
	display:block;
	border-right:1px solid #828282;
	color:#fff;
	padding:0px 17px;
	text-decoration:uppercase;
}

.menu a span{
	color:#cccccc;
	display:block;
}
.menu li:nth-child(6) a{
	border-right:0px;
	padding-right:0px;
	text-decoration:none;
}
.menu li a:hover{
	text-decoration:none;
	color:#7c9c37;
}
.menu .active a{
	color:#7c9c37;
}
.quote_area h2{
	color:#333;
	font-size:28px;
	font-style:italic;
	text-align:center;
	margin:50px 0px;
}
.quote_area{
	background:#fff url(images/border.png) no-repeat bottom center scroll;
	margin-bottom:50px;
	
}
.sevices_area{
	background:#fff url(images/border.png) no-repeat bottom center scroll;
	padding-bottom:50px;
	margin-bottom:20px;
}
.sevices_area .col-md-3{
	padding: 0px 7px;
}
.service {
	background:#f0f0f0;
}
.service h2{
	color:#7c9c37;
	font-size:18px;
	margin:20px 15px;
	}.service p{
	color:#666666;
	font-size:12px;
	margin:0px 15px 20px 15px;
}

.blog_row .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
	padding-top:10px;
	padding-bottom:10px;
	
}
.blog_row .col-md-3{
	padding-left:0px;
}
.blog_row h3{
	font-size:14px;
	color:#7c9c37;
	margin-top:0px;
}
.blog_row p{
	font-size:13px;
	color:#666666;
}
.blog_area h2{
	font-size:18px;
	color:#666666;
	margin:0px;
}
.blog_area{
	padding-bottom:10px;
	border-bottom:1px solid #e2e2e2;
}
.blog_area{
	overflow:hidden;
}
.fother_area{
	background:#222222;
	overflow:hidden;
}

.about_us h3{
	color:#666;
	font-size:12px;
	margin:20px 0px;
}
.about_us img{
	border:1px solid #3a3a3a;
	
}
.about_us p{
	margin-top:22px;
	color:#666;
	width:100%;
}
.about_us a{
	margin-left:20px;
	display:block;
	margin-bottom:20px;
}
.link_block h3{
	font-size:12px;
	color:#666666;
	margin-left:15px;
	
}
.link1 img{
margin-right:10px;	
}
.link1 a{
text-align:bottom;
}

.link1 h4{
margin-top:9px;	
margin-bottom:0px;
border-bottom:1px solid #3a3a3a;
text-align:center;
}
.from_the_blog h3{
	color:#666;
	font-size:12px;
	margin-left:30px;
}
.from_the_blog p {
	font-size:14px;
	color:#666666;
}
.p1_p2_p3{
	margin-left:20px;
	color:#666;
}
.p1 {
	font-size:14px;
}
.p2 {
	font-size:10px;
}
.contact_us h3{
	font-size:12px;
	color:#666;
}
.contact_us p{
	font-size:12px;
	color:#666;
}

@media all and (min-width:1200px) {
	.container{
		width:990px;
		}



}
@media all and (max-width:769px){
	.top_area span{
		width:100%;
		}
		.search_from{
			display:none;
			}
		.menu{
			display:none;
			}	
	.col-md-3{
		width:100%;
		}
	.col-md-3 h2{
		width:100%;
		}
	.col-md-3 p{
		width:100%;
		}
	.container{
		width:100%;
		}
	
	
}